<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftR_iOSUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SwiftR_macOSUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SwiftSigV_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftSigV_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>606FEF1D1E53EDB1000BEB7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>606FEF261E53EDB1000BEB7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>606FEF3C1E53EDFB000BEB7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>606FEF441E53EDFB000BEB7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60E7A4581E5D5D2000FA15B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60E7A4641E5D5D3700FA15B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
